body {
  background-color: hsl(47, 88%, 63%);
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin: 0%;
}
.attribution {
  font-size: 11px;
  text-align: center;
  width: 336px;
  height: 194px;
  text-align: left;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.title {
  background-color: hsl(47, 88%, 63%);
  display: flex;

}

.description {
  font-size: 16px;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 150px;
  height: 522px;
  width: 384px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 0 1px 15px -5px rgba(0, 0, 0, 0.5);
}

.card-illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 336px;
  height: 220px;
  border-radius: 5px;
  margin-top: -2px;
    
}

.author {
  width: 85px;
  height: 21px;
}

.author-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
}
